body, html{
    height: 100%;
    font-family: Nunito;
    margin: 0px 15px 0px 15px;
}

.nav{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    box-shadow: 0px 0px 5px 5px  rgba(233, 233, 233, 0.11);
    margin: -50px 0px 0px -15px;
    background-color: whitesmoke;
    position: fixed;
}

a{
    text-decoration: none;
    color: black;
}

.nav>div{
    margin-left: 15px;
    margin-right: 25px;
    padding: 5px;
}

.nav>img{
    margin-right: auto;
    margin-left: 25px;
}

/*----------------------------------------------------------------------------*/

main{
    margin: 50px 0px 0px 15px;
}

.home{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.home-paragraph{
    width: 400px;
    margin: 0px 0px 0px 45px;

}

.home-paragraph>h1{
    font-size: xx-large;
}

.home-img>img{
    height: 250px;
    margin-left: auto;
}

/*----------------------------------------------------------------------------*/

.about-us{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 50px;
}

/*----------------------------------------------------------------------------*/
.vms{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 25px;
}

.vms>div{
    margin: 0px 15px 0px 15px;
}
/*----------------------------------------------------------------------------*/

.chapter{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 15px;
    align-items: center;
}

.chapter img {
    border-radius: 150px;
    margin: 10px;
    border: 2px solid rgb(255, 208, 0);
    padding: 10px;
  }

  .chapter-img{
    display: flex;
    flex-direction: column;
  }

  .chapter-img>p{
    margin-left: auto;
    margin-right: auto;
  }

/*----------------------------------------------------------------------------*/

.message-us{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 50px;
}

/*----------------------------------------------------------------------------*/
.form{
    width: 600px;
}

.message{
    width: 600px;
    margin-top: 30px;
    padding: 10px;
    margin-left: 25px;
}

.btn{
    width: 300px;
    background-color: transparent;
    border: 3px solid rgb(255, 208, 0);
    height: 30px;
    border-radius: 10px;
}

th{
    text-align: left;
}

hr{
    border: 1px solid;
}

section{
    margin-bottom: 25px;
}

/*----------------------------------------------------------------------------*/

.footer{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: rgb(255, 208, 0);
    padding: 5px;
}

/*---------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 1000px) {
    .chapter{
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 15px;
        align-items: center;
    }
    
    img {
        border-radius: 150px;
        margin: 10px;
        border: 2px solid rgb(255, 208, 0);
        padding: 10px;
      }
}
/*---------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 600px) {

    body{
      justify-content: center;
      width: 100%;
    }
    .nav{
      display: flex;
      flex-direction: column;
      margin-bottom: 25px; 
      position: absolute;
      height: fit-content;
    }

    .nav>img{
      margin-left: auto;
      margin-right: auto;
    }

/*----------------------------------------------------------------------------*/

    .home-paragraph{
        width: 300px;
        margin: 0px 0px 0px 25px;

    }

    .home-paragraph>h1{
        font-size: x-large;
    }

/*----------------------------------------------------------------------------*/

    .about-us{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

/*----------------------------------------------------------------------------*/

    .vms{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

/*----------------------------------------------------------------------------*/


    .btn{
        width: 200px;
        background-color: transparent;
        border: 1px solid rgb(255, 208, 0);
        height: 30px;
        border-radius: 10px;

    }

    .message-us{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .form{
        width: 300px;
    }
    
    .message{
        border: 1px solid rgb(255, 166, 0);
        padding: 10px;
        width: 300px;
        margin: 45px 0px 0px 0px;
    }

    label{
        margin: 10px;
    }

/*---------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 300px){
    .home-paragraph{
        width: 250px;
        margin: 0px 0px 0px 15px;

    }

    .home-paragraph>h1{
        font-size: large;
    }

/*----------------------------------------------------------------------------*/
    
    .about-us{
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 5px;
    }

/*----------------------------------------------------------------------------*/

    .message-us {
        width: 250px;
    }

    .form{
        padding: 5px;
        width: 250px;
    }

    .btn{
        width: 200px;
    }
    
    .message{
        border: 1px solid rgb(255, 166, 0);
        padding: 10px;
        width: 250px;
        margin: 0px 0px 0px 0px;
    }

}
  }